.hsg-logo {
    height: 50px;
    margin-top: 15px;
    width: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 2px #000;
    width: 100%;
    height: 100px;
}

div{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campus-connect-logo {
    height: 80px;
    width: auto;
    margin-right: 10px;
}