footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

a {
    font-family: 'Gill Sans MT';
    font-size: 12px;
    color: white;
    text-decoration: none;
}