button svg{
    margin: auto;
    height: 50px;
    width: auto;
}

button{
    height: 60px;
    width: auto;
    background-color: #0000;
    border: none;
}

button:hover svg{
    stroke: var(--hsgGreen);
}

button:hover{
    background-color: #0000;
    border: none;
}

button:disabled{
    background-color: #0000;
    border: none;
}

button:disabled svg{
    stroke: #000;
}

textarea{
    border-radius: 10px;
    border: 3px solid #000;
    resize: none;
    width: 80%;
    height: 50px;
}
/* Center place holder verticaly */
textarea::placeholder{
    font-size: 14px;
}

textarea:focus{
    outline: none;
    border: 3px solid var(--hsgGreen);
    box-shadow: 0 0 10px var(--hsgGreen);
}

.error-message {
    color: red;
    margin-right: 20px;
    font-size: 12px;
    border: solid 2px red;
    background-color: #ff000040;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}