:root {
    --hsgGreen: #00802f;
    --footerColor: var(--hsgGreen);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--footerColor);
}

app-chat-bar {
  position: fixed;
  bottom: 120px;
  width: 100%;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
}